
/* ---------------------------Project 2------------------------------ */

 /* 
 Project 1 (Bulb On/Off) 

 #body{
    background-color: black;
}

.center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 23%;
}

.center.btn{
width: 10%;
}

.btn{
    padding: 15px;
} */


/* ---------------------------Project 2------------------------------ */